set -o allexport

# GOROOT=/Users/leow/sdk/go1.11beta2
CGO_ENABLED="0"
# GOPATH=$PWD/plz-out/go:/Users/leow/Desktop/PROJECTS/GOLANG
# GOPATH=/Users/leow/Desktop/PROJECTS/GOLANG
MYGOBIN=`go env GOPATH`
# mongo shell is in bin ...
PATH=/Users/leow/MONGODB/bin:${MYGOBIN}/bin:${PATH}

set +o allexport

