set -o allexport

# GOROOT=/Users/leow/sdk/go1.11beta2
CGO_ENABLED="0"
# GOPATH=$PWD/plz-out/go:/Users/leow/Desktop/PROJECTS/GOLANG
# GOPATH=/Users/leow/Desktop/PROJECTS/GOLANG
MYGOBIN=`go env GOPATH`
# mongo shell is in bin ...
PATH=/Users/leow/MONGODB/bin${MYGOBIN}/bin:${PATH}

MONGODB_URL="mongodb+srv://mleow:passw0rd@sinarcluster0-olstf.mongodb.net/test?retryWrites=true"
# MONGODB_URL="mongodb://admin:jwalker1@sinarcluster0-shard-00-01-olstf.mongodb.net:27017/admin"
# MONGODB_URL="mongodb://admin:jwalker1@sinarcluster0-shard-00-00-olstf.mongodb.net:27017,sinarcluster0-shard-00-01-olstf.mongodb.net:27017,sinarcluster0-shard-00-02-olstf.mongodb.net:27017/cooljoe?ssl=true&replicaSet=SinarCluster0-shard-0&authSource=admin&retryWrites=true"
# MONGODB_URL="mongodb://jenkins:passw0rd@ds121183.mlab.com:21183/?ssl=true"
# MONGODB_URL="mongodb://mleow:passw0rd@cluster0-shard-00-00-tyejp.azure.mongodb.net:27017,cluster0-shard-00-01-tyejp.azure.mongodb.net:27017,cluster0-shard-00-02-tyejp.azure.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin"

set +o allexport

